@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* FONTS */
  --font: 'Noto Sans';

  /* COLORS */
  /* Neutral Colors */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red Colors */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* TYPOGRAPHY*/
  /* Text Preset 1 */
  --text-1-font-family: 'Noto Sans', sans-serif;
  --text-1-font-weight: 700; /* Bold */
  --text-1-font-size: 2.125rem; /* 34px */
  --text-1-line-height: 1; /* 100% */
  --text-1-letter-spacing: -0.0625rem; /* -1px */

  /* Text Preset 2 */
  --text-2-font-family: 'Noto Sans', sans-serif;
  --text-2-font-weight: 700; /* Bold */
  --text-2-font-size: 1.25rem; /* 20px */
  --text-2-line-height: 1.2; /* 120% */
  --text-2-letter-spacing: -0.0125rem; /* -0.2px */

  /* Text Preset 3 */
  --text-3-font-family: 'Noto Sans', sans-serif;
  --text-3-font-weight: 400; /* Regular */
  --text-3-font-size: 1.25rem; /* 20px */
  --text-3-line-height: 1.4; /* 140% */
  --text-3-letter-spacing: -0.01875rem; /* -0.3px */

  /* Text Preset 4 */
  --text-4-font-family: 'Noto Sans', sans-serif;
  --text-4-font-weight: 500; /* Medium */
  --text-4-font-size: 1.25rem; /* 20px */
  --text-4-line-height: 1.4; /* 140% */
  --text-4-letter-spacing: -0.01875rem; /* -0.3px */

  /* Text Preset 5 */
  --text-5-font-family: 'Noto Sans', sans-serif;
  --text-5-font-weight: 400; /* Regular */
  --text-5-font-size: 1rem; /* 16px */
  --text-5-line-height: 1.4; /* 140% */
  --text-5-letter-spacing: -0.03125rem; /* -0.5px */

  /* Text Preset 6 */
  --text-6-font-family: 'Noto Sans', sans-serif;
  --text-6-font-weight: 500; /* Medium */
  --text-6-font-size: 1rem; /* 16px */
  --text-6-line-height: 1.4; /* 140% */
  --text-6-letter-spacing: -0.03125rem; /* -0.5px */
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

Body {
  font-family: var(--font);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

Img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

Input,
button,
texture,
select {
  font: inherit;
}

P,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

.text-preset-1 {
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  font-size: var(--text-1-font-size);
  line-height: var(--text-1-line-height);
  letter-spacing: var(--text-1-letter-spacing);
}

.text-preset-2 {
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  font-size: var(--text-2-font-size);
  line-height: var(--text-2-line-height);
  letter-spacing: var(--text-2-letter-spacing);
}

.text-preset-3 {
  font-family: var(--text-3-font-family);
  font-weight: var(--text-3-font-weight);
  font-size: var(--text-3-font-size);
  line-height: var(--text-3-line-height);
  letter-spacing: var(--text-3-letter-spacing);
}

.text-preset-4 {
  font-family: var(--text-4-font-family);
  font-weight: var(--text-4-font-weight);
  font-size: var(--text-4-font-size);
  line-height: var(--text-4-line-height);
  letter-spacing: var(--text-4-letter-spacing);
}

.text-preset-5 {
  font-family: var(--text-5-font-family);
  font-weight: var(--text-5-font-weight);
  font-size: var(--text-5-font-size);
  line-height: var(--text-5-line-height);
  letter-spacing: var(--text-5-letter-spacing);
}

.text-preset-6 {
  font-family: var(--text-6-font-family);
  font-weight: var(--text-6-font-weight);
  font-size: var(--text-6-font-size);
  line-height: var(--text-6-line-height);
  letter-spacing: var(--text-6-letter-spacing);
}

/* HEADER CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  gap: 6rem;
  margin-bottom: 2rem;
  /*   border: 1px solid blue; */
  background-color: white;
  transition-duration: 0.3s;
}

.header-dark-mode {
  background-color: var(--neutral-800);
}

.mode-container {
  padding: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--neutral-100);
  transition-duration: 0.3s;
}

.mode-container-dark-mode {
  background-color: var(--neutral-700);
}

/* MAIN APP CSS */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 760px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-div {
  background-image: var(--light-gradient);
  display: flex;
  justify-content: center;
}

.main-div-dark-mode {
  background-image: var(--dark-gradient);
}

.prime-container {
  border: none;
  min-height: 100vh;
  padding: 1rem;
  max-width: 1800px;
  background-color: transparent;
}

.upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.h2-dark-mode {
  color: white;
}

.upper-btn-container {
  display: flex;
  gap: 1rem;
}

.upper-btn {
  padding: 0.4rem 1.3rem;
  border: none;
  background-color: white;
  border-radius: 2rem;
}

.upper-btn:hover {
  cursor: pointer;
  background-color: var(--neutral-200);
}

.upper-btn:focus {
  outline: 1px solid red;
}

.upper-btn-dark-mode {
  background-color: var(--neutral-700);
  color: white;
}

.upper-btn-dark-mode:hover {
  cursor: pointer;
  background-color: var(--neutral-600);
}

.upper-btn-highlighted {
  background-color: var(--red-500);
  color: white;
}
/* SINGLE ITEM  */
.item-box {
  padding: 1.2rem;
  background-color: white;
  border-radius: 1rem;
}

.item-box-dark-mode {
  background-color: var(--neutral-800);
}

.item-info-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.info-box-img {
  min-width: 60px;
}

.info-box-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.h3-dark-mode {
  color: white;
}

.info-p {
  color: var(--neutral-600);
  padding-right: 1rem;
}

.info-p-dark-mode {
  color: white;
}

.item-btns-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  border: 1px solid rgba(128, 128, 128, 0.393);
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
}

.remove-btn:hover {
  background-color: var(--red-500);
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
}

.remove-btn:focus {
  outline: 1px solid red;
}

.remove-btn-dark-mode {
  color: white;
}

.remove-btn-dark-mode:hover {
  color: var(--neutral-800);
}

.move-btn {
  width: 2.8rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.174);
  border-radius: 2rem;
  display: flex;
  position: relative;
  border: none;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.move-btn:focus {
  outline: 1px solid red;
}

.move-btn-active {
  background-color: rgb(181, 31, 31);
}

.move-btn-ball {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.move-btn-ball-active {
  transform: translateX(1.15rem);
}

.empty-extensions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.empty-extensions h2 {
  font-size: 2rem;
}

.empty-extensions-dark-mode {
  color: white;
}
