* {
  box-sizing: border-box;
}

Body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

Img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

Input,
button,
texture,
select {
  font: inherit;
}

P,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
